{% extends "admin/base_site.html" %}
{% load i18n static %}
{% load admin_urls %}

{% block extrahead %}{{ block.super }}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{% endblock %}
{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>{% endblock %}
{% block bodyclass %}{{ block.super }} {{ opts.app_label }}-{{ opts.model_name }} change-form{% endblock %}
{% if not is_popup %}
    {% block breadcrumbs %}
        {% include 'admin/snippet/breadcrumb.html' with lista=False %}
    {% endblock %}
{% endif %}
{% block content %}
    <div id="content-main">
        <div class="card">
            <div class="card-body">
                <form action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form">
                    {% csrf_token %}{% block form_top %}{% endblock %}
                    <input type="text" name="username" value="{{ original.get_username }}" style="display: none"/>
                    <div>
                        {% if is_popup %}<input type="hidden" name="_popup" value="1"/>{% endif %}
                        {% if form.errors %}
                            <p class="errornote">
                                {% if form.errors.items|length == 1 %}
                                    {% trans "Please correct the error below." %}{% else %}
                                    {% trans "Please correct the errors below." %}{% endif %}
                            </p>
                        {% endif %}

                        <p>Informe a nova senha para o usuário <strong>{{ original }}</strong>.</p>

                        <fieldset class="module aligned">

                            <div class="form-row">
                            <div class="col-12 col-sm-10 col-md-6 col-lg-5">
                                {{ form.password1.errors }}
                                {{ form.password1.label_tag }} {{ form.password1 }}
                                {% if form.password1.help_text %}
                                    <div class="help m-0 p-0">{{ form.password1.help_text|safe }}</div>
                                {% endif %}
                            </div>
                            </div>

                            <div class="form-row">
                            <div class="col-12 col-sm-10 col-md-6 col-lg-5">
                                {{ form.password2.errors }}
                                {{ form.password2.label_tag }} {{ form.password2 }}
                                {% if form.password2.help_text %}
                                    <div class="help m-0 p-0">{{ form.password2.help_text|safe }}</div>
                                {% endif %}
                            </div>
                            </div>

                        </fieldset>

                        <div class="submit-row">
                            <input type="submit" value="{% trans 'Change password' %}" class="btn btn-primary btn-sm"/>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
