body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif !important;
    font-size: 15px !important;
}

p, span, section, h1, h2, h3, h4, h5, a {
    font-family: 'Roboto', sans-serif !important;
}

.nav-topo {
    font-size: 18px;
}

.nav-topo img {
    height: 80px;
    padding: 0 20px;
}

.nav-topo ul {
    left: 0;
    right: 0;
}

.nav-topo ul li {
    margin: 0 5px;
    min-width: 100px;
    text-align: center;
}

.nav-link {
    font-size: 18px;
    color: #000 !important;
    border: 1px solid #00000000;
}

.nav-link:hover {
    background: #fff;
    border: 1px solid #f0f0f0;
}

a:hover {
    text-decoration: none;
}

.corpo {
    height: 100%;
}

.logomarca {
    display: inline;
    background: #fefefe;
}

.logomarca img {
    width: auto;
    height: 50px;
    display: inline;
}

.carousel-item {
    height: 60% !important;
}

.carousel-inner img {
    width: 100%;
}

footer {
    background: #222222;
    padding: 20px;
    color: #fff;
}

.sessao1 {
    padding: 50px 0;
}

.sessao1 p {
    font-weight: 400;
    text-align: justify;
}

.destaques-col3 {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 9px #c0c0c0;
    margin-top: 20px;
}

.destaques-col3:hover {
    transition: 0.2s ease-in-out;
    margin-top: 15px;
    box-shadow: 0 0 9px dodgerblue;
}

.destaques-col3 img {
    height: 200px;
    position: relative;
}

.destaques-col3 h6 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    padding: 0px 10px;
    color: #898989;
}

.destaques-col3 h4 {
    text-transform: uppercase;
    font-weight: 700;
    padding: 0 10px;
}

.destaques-col3 span {
    width: 100%;
}

.destaques-col3 span p i {
    padding: 0 10px;
}

.destaques-col3 hr {
    padding: 0;
    margin: 10px 0;
}

.link {
    float: right;
    margin: 0 10px 10px 10px;
}

.destaques-col2 {
    width: 100%;
}

.destaques-col2 span {
    width: 100%;
}

.destaques-col2 span p {
    margin: 10px 0;
    display: inline-block;
    width: auto;
}

.destaques-col2 span p i {
    padding: 0 10px;
}

.busca-form {
    padding: 20px;
    background: rgba(150, 150, 150, 0.1);
    width: 100%;
    min-height: 130px;
    height: 100%;
    margin: 50px 0;
}

.busca-form label {
    margin: 0 5px;
}

.busca-form button {
    margin: 0 5px;
}

.busca-form select {
    max-width: 140px !important;
}

.busca-form input {
    max-width: 100px !important;
}

.busca-form h3 {
    padding: 10px 20px;
    background: #dedede;
    margin: -20px -20px 10px;
}

@media only screen and (max-width: 600px) {
    .busca-form {
        position: relative;
        width: auto;
        top: 0px;
        right: 0px;
        margin: 10px;
    }

    .destaques-col3 img {
        height: 300px;
    }

    .nav-topo ul li {
        text-align: left;
    }
}

.menu-rodape {
    text-align: center;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%
}

.menu-rodape a {
    color: #898989;
    padding: 0 5px;
    font-size: 12px;
    text-transform: capitalize;
}

.destaques {
    width: 100%;
    height: 300px;
    margin: 10px;
    padding: 0px;
    border-radius: 3px;
    margin-bottom: 50px;
}

.destaques .titulo {
    background: rgba(0, 0, 0, 0.71);
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px 3px 0 0;
    margin: 0;
}

.destaques img {
    width: 100%;
    max-height: 100%;
    padding: 0;
}

footer {
    font-weight: lighter !important;
}