{% extends 'admin/change_list.html' %}
{% load i18n admin_list %}

{% block extrastyle %}
    {{ block.super }}
    <script type="text/javascript" src="{{ jsi18n_url }}"></script>
{% endblock %}

{% block search %}{% endblock %}

{% block result_list %}
    <div
            id="tree"
            class="block-style"
            data-url="{{ tree_json_url }}"
            data-insert_at_url="{{ insert_at_url }}"
            data-save_state="{{ app_label }}_{{ model_name }}"
            data-auto_open="{{ tree_auto_open }}"
            data-autoescape="{{ autoescape }}"
            data-csrf-cookie-name="{{ csrf_cookie_name }}"
            {% if LANGUAGE_BIDI %}
            data-rtl
            {% endif %}
            data-use_context_menu="{{ use_context_menu }}"
    ></div>
{% endblock %}

{% block filters %}
    {% if cl.has_filters %}
        <div id="changelist-filter">
            <h2>{% trans 'Filter' %}</h2>
            {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block pagination %}{% endblock %}

{% block object-tools-items %}
    {{ block.super }}
    <li class="d-inline-flex mx-1">
        <a href="{{ grid_url }}" class="btn btn-primary btn-sm waves-effect waves-light">{% trans "Grid view" %}</a>
    </li>
{% endblock %}
