{% extends 'admin/change_list.html' %}
{% load i18n %}

{% block object-tools-items %}
    {{ block.super }}
    <li class="d-inline-flex mx-1">
        <a href="{{ tree_url }}" class="btn btn-primary btn-sm waves-effect waves-light">{% trans "Tree view" %}</a>
    </li>
{% endblock %}
