<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="Imobiliária"/>
    <meta name="Description"
          content="">
    <meta name="keywords" content=""/>
    <meta name="robots" content="index, follow">
    <meta name="author" content="Filipe Rafaeli">
    <link rel="canonical" href=""/>
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="location" content="Concórdia, SC 89700-003"/>
    <meta name="language" content="br"/>
    <meta name="rating" content="general"/>
    <meta name="audience" content="all">
    <meta name="Distribution" content="Global">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light nav-topo">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'img/python.png' %}"
                 alt="Imobiliária " style="display: inline-block"/>
            <h1 style="display: none" class="nav-link ">{{title}}</h1>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'sobre' %}">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contato' %}">Contato</a>
                </li>
                {% for tipo in tipos %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ tipo.tipo }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for categoria in categorias %}
                                <a class="dropdown-item"
                                   href="{% url 'lista' tipo.id categoria.id %}">{{ categoria.descricao }}</a>
                            {% endfor %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <p class="text-primary mr-5">
            <i class="fas fa-phone"></i>
            (xx) xxxx-xxxx
        </p>
    </nav>
</header>
<div class="corpo">
    {% block content %}
    {% endblock content %}
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>
                    <i class="fas fa-map-marker-alt"></i>
                    Endereço
                </h4>
                <hr/>
                <p>
                    Endereço
                </p>
            </div>
            <div class="col-md-4">
                <h4>
                    <i class="fas fa-phone"></i>
                    Contato
                </h4>
                <hr/>
                <p>Imobiliária.</p>
                <p>CNPJ: </p>
                <p>Telefone: </p>
                <p>E-mail: </p>
                <strong>CRECI: </strong>

            </div>
            <div class="col-md-4">
                <h4>
                    <i class="fas fa-clock"></i>
                    Atendimento
                </h4>
                <hr/>
                <p>
                    Segunda a Sexta:
                    Das 08h30min às 12h e
                    das 13h30min às 18h
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p style="text-align: center; font-weight: lighter; padding-top: 25px">
                    Imobiliaria
                </p>
                <div class="text-center menu-rodape">
                    <a href="{% url 'admin:index' %}">painel</a>
                </div>
            </div>
        </div>
    </div>
    {% if  institucional.whatsapp %}
        <div class="fixed-bottom" style="right: 0; width: 95px; margin: 0 0 0 auto">
            <a href="http://api.whatsapp.com/send?1=pt_BR&amp;phone=55{{ institucional.whatsapp }}" class=""
               target="_blank">
                <i class="fab fa-whatsapp fa-4x text-right m-3 text-success"
                   title="Fale com um de nossos corretores"></i>
            </a>
        </div>
    {% endif %}
</footer>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120930037-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-120930037-1');

</script>

</body>
</html>