.btn-outline-primary {
    color: #2196F3!important;;
    background-color: transparent;
    background-image: none;
    border-color: #2196F3!important;;
}


.btn-outline-primary:hover, .btn-outline-primary:active {
    color: #fff!important;;
    background-color: #2196F3!important;
}


.btn-primary:active, .btn-primary:focus {
    color: #fff!important;;
    background-color: #2196F3!important;
}

.select2-container--admin-autocomplete .select2-results__option--highlighted[aria-selected] {
    background-color: #2196F3!important;
    color: white;
}

#tree.block-style ul.jqtree-tree li.jqtree-selected > .jqtree-element {
    background: #2196F3!important;
    text-shadow: none;
}

::selection{
    background: #2196F3;
    color: #fff;
}

select:focus > option:checked,
select option:checked,
select option:hover {
    background: #2196F3;
    color: #fff;
}


.input-wrapper .label-novo {
    background-color: #2196F3!important;
}

.input-wrapper .label-novo:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}