<fieldset class="module aligned {{ fieldset.classes }}">
    {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
    {% if fieldset.description %}
        <div class="description">{{ fieldset.description|safe }}</div>
    {% endif %}
    {% for line in fieldset %}
        <div style="display: block"
             class="form-row {% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">

            {% for field in line %}
                <div name="linha_formulario"
                        {% if not line.fields|length_is:'1' %}
                     class="field-box
                            {% if field.field.name %} field-{{ field.field.name }}{% endif %}
                            {% if not field.is_readonly and field.errors %} errors{% endif %}
                            {% if field.field.is_hidden %} hidden{% endif %}"
                        {% elif field.is_checkbox %}
                     class="checkbox-row"

                        {% endif %}>
                    {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                    {% if field.is_checkbox %}
                        {{ field.field }}{{ field.label_tag }}
                    {% else %}
                        {{ field.label_tag }}
                        {% if field.is_readonly %}
                            <div class="readonly">{{ field.contents }}</div>
                        {% else %}
                            {{ field.field }}
                        {% endif %}
                    {% endif %}
                </div>
                {% if field.field.help_text %}
                    <div class="ml-1 text-info">{{ field.field.help_text|safe }}</div>
                {% endif %}
                {% if line.fields|length_is:'1' %}
                    <span class="text-danger">{{ line.errors }}</span>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</fieldset>

<script>

    $(document).ready(function () {
        let linhas = $("div[name*=linha_formulario]");
        for (let b = 0; b < linhas.length; b++) {
            let linha = $(linhas[b])[0];
            let iframe = $(linha).children('iframe')[0];

            if (iframe != null) {
                $(linha).addClass("w-100");
            } else {
                $(linha).addClass("col-12 d-block d-md-flex w-100");
            }


        }
    });

</script>
