{% extends "admin/change_form.html" %}
{% load plus_to_space static %}
{% block field_sets %}
    {% if 'personalizacao' in request.get_full_path %}
        <table style="width: 100%;">
            <tr>
                <td style="width: 40%; vertical-align: top" class="pr-4">
                    <div class="card">
                        <div class="card-body" style="height: 80vh; overflow-y: scroll">
                            <div style="margin: 0px">
                                <label for="id_padrao">Esquemas padrões</label>
                                <select name="padrao" id="id_padrao_cores" style="width: 200px; margin-left: 0px"
                                        onchange="setar_esquema()">
                                    <option value="000">------</option>
                                    <option value="001">Amarelo</option>
                                    <option value="002">Rosa</option>
                                    <option value="003">Amarelo II</option>
                                </select>
                            </div>
                            <hr>
                            <h2 style="margin: 10px; font-size: 22px">Padrão atual:</h2>
                            <hr>
                            <div style="z-index: 99;" class="pr-4">
                                {{ block.super }}
                            </div>
                        </div>
                    </div>
                </td>
                <td style="width: 60%; margin-left: 30px; border: 1px solid #c0c0c0; min-width: 440px; vertical-align: top">
                    <div class="card">
                        <div class="card-body">
                            <iframe src="{{ site_url }}" frameborder="0" style="height: 80vh;" class="w-100" id="pagina_live"></iframe>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}
