{% load i18n admin_urls admin_modify %}
<div class="row">
    <div class="col-sm-12 p-0">
        <div class="main-header px-4 pt-4 pb-0">
            {% if title %}
                <h4>{{ title }}</h4>
            {% endif %}
            {% if lista %}
                <ol class="breadcrumb breadcrumb-title breadcrumb-arrow bg-transparent p-0 mb-2">
                    <li class="breadcrumb-item">
                        <a href="{% url 'admin:index' %}"><i class="icofont icofont-home"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ cl.opts.app_config.verbose_name }}</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{{ request.build_absolute_uri }}">{% if title %}{{ title }}{% endif %}</a>
                    </li>
                </ol>
            {% elif edicao %}
                <ol class="breadcrumb breadcrumb-title breadcrumb-arrow bg-transparent p-0 mb-2">
                    <li class="breadcrumb-item">
                        <a href="{% url 'admin:index' %}"><i class="icofont icofont-home"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        {% if has_change_permission %}
                            <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}
                            {{ opts.verbose_name_plural|capfirst }}{% endif %}
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{{ request.build_absolute_uri }}">{% if title %}{{ title }}{% endif %}</a>
                    </li>
                    <li class="breadcrumb-item">
                        {% if add %}{% blocktrans with name=opts.verbose_name %}Add
                            {{ name }}{% endblocktrans %}{% else %}
                            {{ original|truncatewords:"18" }}{% endif %}
                    </li>
                </ol>
            {% else %}
                <ol class="breadcrumb breadcrumb-title breadcrumb-arrow bg-transparent p-0 mb-2">
                    <li class="breadcrumb-item">
                        <a href="{% url 'admin:index' %}"><i class="icofont icofont-home"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{{ request.build_absolute_uri }}">{% if title %}{{ title }}{% endif %}</a>
                    </li>
                </ol>
            {% endif %}
        </div>
    </div>
</div>
