{% load static %}
<header class="main-header-top hidden-print">
    <a href="{% url 'admin:index' %}" class="logo">
        <img class="img-fluid able-logo" src="{% static 'img/python.png' %}" alt="Digisat"
             style="max-height: 100%">
    </a>
    <nav class="navbar navbar-static-top">
        <a href="#!" data-toggle="offcanvas" class="sidebar-toggle"></a>
        <div class="navbar-custom-menu f-right">
            <ul class="top-nav">
                {% block messages %}
                    <li class="dropdown notification-menu">
                        <a href="#!" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">
                            <i class="icon-bell"></i>
                            {% if messages %}
                                <span class="badge badge-danger header-badge">{{ messages|length }}</span>
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu">

                            {% if messages %}
                                <li class="not-head">Você tem <b class="text-primary">{{ messages|length }}</b> nova
                                    notificação.
                                </li>
                                {% for message in messages %}
                                    <li class="bell-notification">
                                        <div class="media-body">
                                            <div class="block p-3">
                                                {{ message|safe|capfirst }}
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            {% else %}
                                <li class="not-head">
                                    Você não tem nenhuma mensagem!
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endblock messages %}

                <li class="pc-rheader-submenu">
                    <a href="#!" class="drop icon-circle" onclick="javascript:toggleFullScreen()">
                        <i class="icon-size-fullscreen"></i>
                    </a>
                </li>

                <li class="dropdown">
                    <a href="#!" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
                       class="dropdown-toggle drop icon-circle drop-image">
                        <span><img class="img-circle mr-2" src="{% static 'dashboard/images/avatar.png' %}"
                                   style="width:40px;"
                                   alt="{{ request.user }}"></span>
                        <span> {{ request.user }} <i class=" icofont icofont-simple-down"></i></span>

                    </a>
                    {% block usertools %}
                        {% if has_permission %}
                            <ul class="dropdown-menu settings-menu">
                                {% block userlinks %}
                                    {% if site_url %}
                                        <li><a href="{{ site_url }}" target="_blank"><i class="fas fa-file"></i>Ver o
                                            site</a></li>
                                    {% endif %}
                                    {% if user.has_usable_password %}
                                        <li><a href="{% url 'admin:password_change' %}"><i class="fas fa-key"></i>Alterar
                                            senha</a></li>
                                    {% endif %}
                                    <li><a href="{% url 'admin:logout' %}"><i class="fas fa-sign-out-alt"></i>Sair</a>
                                    </li>
                                {% endblock %}
                            </ul>
                        {% endif %}
                    {% endblock %}
                </li>
            </ul>
        </div>
    </nav>
</header>