<ul class="sidebar-menu">
    <li class="nav-level">Navigation</li>
    {% if app_list %}
        <li class="treeview {% if '/admin/' == request.get_full_path %}active{% endif %} ">
            <a class="waves-effect waves-dark" href="{% url 'admin:index' %}"><i
                    class="fas fa-home"></i>
                <span>Home</span></a></li>
        {% for app in app_list %}
            <li class="treeview {% if app.app_url in request.get_full_path %} active{% endif %}">
                <a class="waves-effect waves-dark" href="#!">
                    <i class="{{ app.icon }}"></i>
                    <span>{{ app.name }}</span><i class="icon-arrow-down"></i>
                </a>
                <ul class="treeview-menu bg-light">
                    {% for model in app.models %}
                        {% if model.admin_url %}
                            <li class=" {% if model.admin_url == request.get_full_path %}active{% endif %} ">
                                <a class="waves-effect waves-dark"
                                   href="{{ model.admin_url }}">-<i
                                        class="fas fa-angle-right"></i>
                                    {{ model.name }}</a></li>
                        {% else %}
                            <li><a class="waves-effect waves-dark" href="#!"><i
                                    class="icon-arrow-right"></i>
                                {{ model.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    {% else %}
        <p>Você não tem nenhuma permissão.</p>
    {% endif %}
</ul>