{% load static %}
<aside class="main-sidebar hidden-print ">
    <section class="sidebar" id="sidebar-scroll">

        <div class="user-panel">
            <div class="f-left image">
                <img src="{% static 'dashboard/images/avatar.png' %}" alt="User Image" class="img-circle">
            </div>
            <div class="f-left info">
                <p>{{ request.user }}</p>
            </div>
        </div>
        {% include 'admin/snippet/menu_lateral.html' %}
    </section>
</aside>
