{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<style>
    .alert, .alert-danger, .alert-dismissable, .alert-link, .invalid-feedback{
        display: none!important;
    }

    .form-control:invalid, .is-invalid{
        border-color: #c0c0c0!important;
    }
</style>
<div class="container">
    <div class="busca-form">
        <h3>Buscar imóvel</h3>
        <form method="post" class="form-inline d-flex justify-content-center" novalidate="novalidate">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    buscar
                </button>
            {% endbuttons %}
        </form>
        <hr>
        <form method="post" class="form-inline d-flex justify-content-center" novalidate="novalidate">
            {% csrf_token %}
            {% bootstrap_form form_codigo %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    buscar código
                </button>
            {% endbuttons %}
        </form>
    </div>
</div>