{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<div class="row" style="max-width:100%; margin: 0;">
    <div class="col-12" style="padding: 0">
        <div id="slide" class="carousel slide d-none d-md-block" data-ride="carousel">
            <div class="carousel-inner">

                {% if banner_desk %}

                {% for ban in banner_desk %}
                <div class="carousel-item {% if forloop.first %}  active {% endif %} ">
                    {% if ban.url %}
                    <a href="{{ ban.url }}">
                        {% endif %}
                        <figure style="max-height: 600px">
                            <img src="http://res.cloudinary.com/hfrhkgogi/image/upload/c_scale,w_1500,q_90/v1528977020/{{ ban.imagem }}.jpg" style="display: block; margin: auto"
                                 alt="{{ ban.titulo }}" width="100%" height="auto">
                        </figure>
                        {% if ban.url %}
                    </a>
                    {% endif %}
                    {% if ban.texto %}
                    <div class="carousel-caption" style="background: rgba(0,0,0,0.7)">
                        <p>{{ ban.texto}}</p>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}

                {% endif %}
            </div>
            <a class="carousel-control-prev" href="#slide" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#slide" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
        <div id="slides" class="carousel slide d-block d-md-none" data-ride="carousel">
            <div class="carousel-inner">

                {% if banner_cell %}

                {% for ban in banner_cell %}
                <div class="carousel-item {% if forloop.first %}  active {% endif %} ">
                    {% if ban.url %}
                    <a href="{{ ban.url }}">
                        {% endif %}
                        <figure style="max-height: 600px">
                            <img src="http://res.cloudinary.com/hfrhkgogi/image/upload/c_scale,w_400,q_100/v1528977020/{{ ban.imagem }}.jpg" style="display: block; margin: auto"
                                 alt="{{ ban.titulo }}" width="100%" height="auto">
                        </figure>
                        {% if ban.url %}
                    </a>
                    {% endif %}
                    {% if ban.texto %}
                    <div class="carousel-caption" style="background: rgba(0,0,0,0.7)">
                        <p>{{ ban.texto}}</p>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}

                {% endif %}
            </div>
            <a class="carousel-control-prev" href="#slides" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#slides" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</div>