<div class="col-md-6 col-lg-4 col-xl-3 m-0 px-2">
    <div class="destaques-col3 mt-0 mb-3">
        <section>
            <div class="bg-light pb-1">
                <a href="{% url 'detalhes' imovel.id %}" title="{{ imovel.titulo }}">
                    <img src="http://res.cloudinary.com/hfrhkgogi/image/upload/c_scale,w_300,h_200,q_80,c_fill/v1528977020/{{ imovel.imagem }}.jpg"
                         alt="{{ imovel.titulo }}" width="100%"/>
                </a>
                {% if imovel.tarja %}
                    <h5 class="text-white p-1 m-0 bg-primary"
                        style="position: absolute;  border-radius: 5px 0 0 0; max-width: 100%; top:0">{{ imovel.tarja }}</h5>
                {% endif %}
            </div>
            <div style="min-height: 180px; height: 100%" class="px-2 pt-2 h-100">
                <h5 class="m-0 p-0 text-primary" style="font-size: 1.1em">{{ imovel.titulo }}</h5>
                <p class="pb-0 m-0">Tipo: {{ imovel.categoria }}</p>
                {% if imovel.bairro %}
                    <p class="m-0 p-0">Bairro: {{ imovel.bairro.nome }}</p>
                {% endif %}
                <p class="m-0 p-0">Cód.: {{ imovel.codigo }}</p>
                <span class="w-100 d-block">
                    {% if imovel.quartos > 0 %}
                        <p class="d-inline mr-1"><i class="fas fa-bed"></i><strong>{{ imovel.quartos }}</strong></p>
                    {% endif %}
                    <p class="d-inline mr-1"><i class="fas fa-car"></i><strong>{{ imovel.garagem }}</strong></p>
                            <p class="d-inline  mr-1"><i class="fas fa-bath"></i><strong>{{ imovel.banheiro }}</strong></p>
                </span>
                <p class="w-100 text-right m-0 p-0">
                    <a href="{% url 'detalhes' imovel.id %}" class="m-0 p-0">ver detalhes</a>
                </p>
            </div>
            <hr class="my-1"/>
            <div class="row m-0 p-0">
                <div class="col-5 text-primary">
                    {{ imovel.tipo }}
                </div>
                <div class="px-0 d-block text-right col-7">
                    {% if imovel.preco == 0 %}
                        <h4 class="h5 mt-1 text-dark">Consulte-nos</h4>
                    {% else %}
                        <h4 class="h5 mt-1 text-dark">R$ {{ imovel.preco }}</h4>
                    {% endif %}
                </div>
            </div>
        </section>
    </div>
</div>