{% if widget.is_initial %}
    <p class="file-upload m-0">{{ widget.initial_text }}:
    <a href="{{ widget.value.url }}">{{ widget.value }}</a>
    {% if not widget.required %}
        <span class="clearable-file-input">
            <span class="checkbox-fade fade-in-primary">
                <label class="w-100 p-0" style="margin-bottom: 12px" for="{{ widget.checkbox_id }}">

                    <input type="checkbox" class="" name="{{ widget.checkbox_name }}"
                           id="{{ widget.checkbox_id }}"/>

                    <span class="cr p-0 m-0" style="position: absolute; width: 20px; height: 20px;"><i
                            class="cr-icon fa fa-check txt-primary"></i></span>
                            <span style="margin-left: 25px; font-size: 14px">{{ widget.clear_checkbox_label }}</span>
                </label>
            </span>
        </span>
    {% endif %}
    <br/>
    <span class="d-inline">{{ widget.input_text }}:</span>
{% endif %}
<span class="input-wrapper d-inline-flex {% if widget.is_initial %} {% endif %}">
    <label class="label-novo" for="{{ widget.attrs.id }}">Procurar</label>
    <span id="{{ widget.attrs.id }}-display" class="d-block pt-2"></span>
</span>
<input class="upload" type="{{ widget.type }}" style="opacity: 0;" id="{{ widget.attrs.id }}"
       onclick="abrir_arquivo(this, '{{ widget.attrs.id }}-display')"
       name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %} />
{% if widget.is_initial %}
    </p>
{% endif %}

