{% if widget.type == 'checkbox'  %}
    <div class="checkbox-fade fade-in-primary" style="position: relative; top: -5px">
    <label class="w-auto p-0" style="margin-bottom: 3px">
{% endif %}
<input type="{{ widget.type }}" name="{{ widget.name }}"{% if widget.value != None %}
       value="{{ widget.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %} />

{% if widget.type == 'checkbox'  %}
    <span class="cr p-0 m-0" style="position: absolute; width: 20px; height: 20px;"><i class="cr-icon fa fa-check txt-primary"></i></span>
    </label>
    </div>
{% endif %}





