{% extends "admin/base.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <div class="breadcrumbs"><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></div>{% endblock %}

{% block content %}
    <section class="login p-fixed d-flex text-center bg-primary common-img-bg">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-sm-12">
                    <div class="login-card card-block mx-auto">
                        <p>{% trans "Thanks for spending some quality time with the Web site today." %}</p>

                        <p><a href="{% url 'admin:index' %}">{% trans 'Log in again' %}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
