{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; {% trans 'Password reset' %}
    </div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
            <br>
            <p><a href="{{ login_url }}">{% trans 'Log in' %}</a></p>
        </div>
    </div>
{% endblock %}
