{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>
{% endblock %}

{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}
    <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %} {% trans 'Change password' %} /
    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}

{% block coltype %}colM{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
        {% include 'admin/snippet/breadcrumb.html' with lista=False %}
    {% endblock %}
{% endif %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}
    <div id="content-main">
        <div class="card">
            <div class="card-body">
                <form method="post">{% csrf_token %}
                    <div>
                        {% if form.errors %}
                            <p class="errornote">
                                {% if form.errors.items|length == 1 %}
                                    {% trans "Please correct the error below." %}{% else %}
                                    {% trans "Please correct the errors below." %}{% endif %}
                            </p>
                        {% endif %}

                        <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

                        <fieldset class="module col-10 col-md-7 col-lg-6 col-xl-4">

                            <div class="form-row">
                                {{ form.old_password.label_tag }} {{ form.old_password }}
                                {{ form.old_password.errors }}
                            </div>

                            <div class="form-row">
                                {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                                {% if form.new_password1.help_text %}
                                    <div class="help">{{ form.new_password1.help_text|safe }}</div>
                                {% endif %}
                                {{ form.new_password1.errors }}
                            </div>

                            <div class="form-row">
                                {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                                {% if form.new_password2.help_text %}
                                    <div class="help">{{ form.new_password2.help_text|safe }}</div>
                                {% endif %}
                                {{ form.new_password2.errors }}
                            </div>

                        </fieldset>

                        <div class="submit-row mt-3">
                            <input type="submit" value="{% trans 'Change my password' %}"
                                   class="default btn btn-sm btn-primary"/>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
