{% load i18n widget_tweaks %}
<div class="actions ">
    {% for field in action_form %}
        {% if field.label %}
            <label class="m-0">{{ field.label }}</label>
        {% endif %}
        {% if forloop.first %}
            <div class="input-group input-group-sm" style="max-width: 500px">
        {% endif %}

        {{ field|add_class:"form-control form-control-sm" }}

    {% endfor %}
    <div class="input-group-append">
        <button type="submit"
                class="btn btn-primary btn-sm waves-effect waves-light"
                title="{% trans "Run the selected action" %}"
                name="index"
                value="{{ action_index|default:0 }}">Executar
        </button>
    </div>
    </div>
    {% if actions_selection_counter %}
        <div class="my-3">
            <span class="action-counter mt-2"
                  data-actions-icnt="{{ cl.result_list|length }}">{{ selection_note }}</span>
            {% if cl.result_count != cl.result_list|length %}
                <span class="all mt-3">{{ selection_note_all }}</span>
                <span class="question">
            <a href="#" class="mx-3 mt-3"
               title="{% trans "Click here to select the objects across all pages" %}">
                {% blocktrans with cl.result_count as total_count %}
                    Selecione todos os {{ total_count }} {{ module_name }}{% endblocktrans %}</a>
        </span>
                <span class="clear"><a href="#">{% trans "Clear selection" %}</a></span>
            {% endif %}
        </div>
    {% endif %}
</div>
