{% extends "admin/index.html" %}
{% load i18n %}

{% block bodyclass %}{{ block.super }} app-{{ app_label }}{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
        {% include 'admin/snippet/breadcrumb.html' with lista=False %}
    {% endblock %}
{% endif %}

{% block sidebar %}{% endblock %}


{% block content %}
    <div class="card">
        <div class="card-body">

            <ul class="sidebar-menu">
                {% for app in app_list %}
                    <li class="treeview {% if app.app_url in request.get_full_path %} active{% endif %}">
                        <a class="waves-effect waves-dark" href="#!">
                            <i class="fas fa-angle-right"></i>
                            <span>{{ app.name }}</span>
                            <i class="icon-arrow-down"></i>
                        </a>
                        <ul class="treeview-menu ">
                            {% for model in app.models %}
                                {% if model.admin_url %}
                                    <li class=" {% if model.admin_url == request.get_full_path %}active{% endif %} ">
                                        <a class="waves-effect waves-dark" href="{{ model.admin_url }}">
                                            <i class="fas fa-angle-double-right"></i>
                                            {{ model.name }}
                                        </a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a class="waves-effect waves-dark" href="#!">
                                        <i class="icon-arrow-right"></i>
                                        {{ model.name }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>
{% endblock %}