{% extends "admin/base.html" %}

{% block layout %}
    <div class="{% block coltype %}colM{% endblock %}">
        {% if not is_popup %}
            {% include 'admin/snippet/header.html' %}
            {% include 'admin/snippet/sidebar.html' %}
            <div class="content-wrapper">
            <div class="container-fluid">
        {% else %}
            <div class="mx-3">
        {% endif %}

        {% block breadcrumbs %}
            {% include 'admin/snippet/breadcrumb.html' with lista=False %}
        {% endblock breadcrumbs %}
        {% block content %}
        {% endblock content %}

        {% if not is_popup %}
            </div>
            </div>
        {% else %}
            </div>
        {% endif %}
    </div>

    {% block footer %}
        <div id="footer"></div>{% endblock %}

{% endblock layout %}
