{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% block extrastyle %}{% endblock %}
    <script src="{% static 'dashboard/js/jquery.min.js' %}"></script>
    <script src="{% static 'dashboard/js/jquery-ui.min.js' %}"></script>
    {% block extrahead %}{% endblock %}
    {% block responsive %}
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
              integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
              crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'dashboard/icons/icofont/css/icofont.css' %}">
        <link rel="stylesheet" type="text/css"
              href="{% static 'dashboard/icons/simple-line-icons/css/simple-line-icons.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/responsive.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/color/color-1.css' %}" id="color"/>
        <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/django_mptt_admin.css' %}"/>
    {% endblock %}
    {% block blockbots %}
        <meta name="robots" content="NONE,NOARCHIVE"/>{% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %} sidebar-mini fixed {% block bodyclass %}{% endblock %}"
      data-admin-utc-offset="{% now "Z" %}" style="background: #E5E5E5">
<div>

    {% block layout %}
        <div class="{% block coltype %}colM{% endblock %}">

            {% block content %}
            {% endblock content %}

            {% block footer %}
                <div id="footer"></div>
            {% endblock %}
        </div>

    {% endblock layout %}


    {% block scripts %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
        <script src="{% static 'dashboard/js/tether.min.js' %}"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>
        <script src="{% static 'dashboard/js/waves.min.js' %}"></script>
        <script src="{% static 'dashboard/js/jquery.slimscroll.js' %}"></script>
        <script src="{% static 'dashboard/js/jquery.nicescroll.min.js' %}"></script>
        <script src="{% static 'dashboard/js/classie.js' %}"></script>
        <script src="{% static 'dashboard/js/bootstrap-growl.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'dashboard/js/main.js' %}"></script>
        <script type="text/javascript" src="{% static 'dashboard/js/elements.js' %}"></script>
        <script src="{% static 'dashboard/js/menu.js' %}"></script>
        <script>
            var $window = $(window);
            var nav = $('.fixed-button');
            $window.scroll(function () {
                if ($window.scrollTop() >= 200) {
                    nav.addClass('active');
                } else {
                    nav.removeClass('active');
                }
            });
        </script>

    {% endblock %}
</div>
</body>
</html>
