{% load i18n static widget_tweaks %}
{% if result_hidden_fields %}
    <div class="hiddenfields">{# DIV for HTML validation #}
        {% for item in result_hidden_fields %}{{ item }}{% endfor %}
    </div>
{% endif %}
{% if results %}
    <div class="table-responsive">
        <table id="result_list" class="table table-sm table-striped">
            <thead class="bg-primary text-white">
            <tr>
                {% for header in result_headers %}
                    <th scope="col" {{ header.class_attrib }} style="padding: 5px">
                        <div class="text">
                            {% if header.sortable %}
                                <a href="{{ header.url_primary }}"
                                   class="text-white font-weight-bold">{{ header.text|capfirst }}</a>
                            {% else %}
                                <span>{{ header.text|capfirst }}</span>
                            {% endif %}
                        </div>
                        <div class="clear"></div>
                    </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for result in results %}
                {% if result.form.non_field_errors %}
                    <tr>
                        <td colspan="{{ result|length }}">{{ result.form.non_field_errors }}</td>
                    </tr>
                {% endif %}
                <tr>{% for item in result %}{{ item }}{% endfor %}</tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
