{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}

    {% if cl.formset %}
    {% endif %}
    {% if cl.formset or action_form %}
        <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {% endif %}
    {#  {{ media.css }}#}
    {% if not actions_on_top and not actions_on_bottom %}
        <style>
            #changelist table thead th:first-child {
                width: inherit
            }
        </style>
    {% endif %}
{% endblock %}

{% block extrahead %}
    {{ media.js }}
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-
    {{ opts.model_name }} change-list{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
        {% include 'admin/snippet/breadcrumb.html' with lista=True %}
    {% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}
    <div id="content-main" class="p-0">

        {% if cl.formset.errors %}
            <p class="errornote">
                {% if cl.formset.total_error_count == 1 %}
                    {% trans "Please correct the error below." %}{% else %}
                    {% trans "Please correct the errors below." %}{% endif %}
            </p>
            {{ cl.formset.non_form_errors }}
        {% endif %}

        <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
            <div class="row justify-content-between">
                <div class="col-md-6 mb-3">
                    {% block search %}{% search_form cl %}{% endblock %}
                </div>
                <div class="col-md-6 mb-3">
                    {% block object-tools %}
                        <ul class="float-right">
                            {% block object-tools-items %}
                                {% if has_add_permission %}
                                    <li class="d-inline-flex mx-1">
                                        {% url cl.opts|admin_urlname:'add' as add_url %}
                                        <a href="{% add_preserved_filters add_url is_popup to_field %}"
                                           class="btn btn-primary btn-sm waves-effect waves-light">
                                            {% blocktrans with cl.opts.verbose_name as name %}
                                                <i class="fas fa-plus"></i>
                                                {{ name }}{% endblocktrans %}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endblock %}
                        </ul>
                    {% endblock %}
                </div>
            </div>


            {% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}

            <div class="row">
                <div class="{% if cl.has_filters %} col-12 col-lg-9 col-xl-10 {% else %} col-12 {% endif %}">
                    <div class="card">
                        <div class="card-body">
                            <form id="changelist-form" method="post"
                                    {% if cl.formset.is_multipart %}
                                  enctype="multipart/form-data"{% endif %}
                                  novalidate>{% csrf_token %}
                                {% if cl.formset %}
                                    <div>{{ cl.formset.management_form }}</div>
                                {% endif %}

                                {% block result_list %}
                                    {% if action_form and actions_on_top and cl.show_admin_actions %}
                                        {% admin_actions %}
                                    {% endif %}
                                    {% result_list cl %}
                                    {% if action_form and actions_on_bottom and cl.show_admin_actions %}
                                        {% admin_actions %}
                                    {% endif %}
                                {% endblock %}
                                {% block pagination %}{% pagination cl %}{% endblock %}
                            </form>
                        </div>
                    </div>

                </div>
                {% block filters %}
                    {% if cl.has_filters %}
                        <div class="d-none d-lg-block col-lg-3 col-xl-2">
                            <div class="card">
                                <div class="card-header"><h6 class="card-header-text">
                                    Filtro</h6></div>
                                <div class="card-body">
                                    <div id="changelist-filter">
                                        {% for spec in cl.filter_specs %}
                                            {% admin_list_filter cl spec %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    {% endif %}
                {% endblock %}

        </div>
    </div>
{% endblock %}
