{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>
    <style>
        .form-control {
            max-width: 500px !important;
        }
    </style>
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
        {% include 'admin/snippet/breadcrumb.html' with edicao=True %}
    {% endblock %}
{% endif %}

{% block content %}
    <div id="content-main">
        {% block object-tools %}
            {% if change %}{% if not is_popup %}
                <div class="row justify-content-end mb-3">
                    <div class="col-12">
                        <ul class="float-right">
                            {% block object-tools-items %}
                                <li class="d-inline-flex mx-1">
                                    {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
                                    <a href="{% add_preserved_filters history_url %}"
                                       class="btn btn-primary btn-sm waves-effect waves-light">{% trans "History" %}</a>
                                </li>
                                {% if has_absolute_url %}
                                    <li class="d-inline-flex mx-1">
                                        <a href="{{ absolute_url }}" target="_blank"
                                           class="btn btn-primary btn-sm waves-effect waves-light">{% trans "View on site" %}</a>
                                    </li>
                                {% endif %}
                            {% endblock %}
                        </ul>
                    </div>
                </div>
            {% endif %}{% endif %}
        {% endblock %}
        <div class="card">
            <div class="card-body">
                <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}"
                      method="post"
                      id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
                    <div>
                        {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1"/>{% endif %}
                        {% if to_field %}
                            <input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}"/>{% endif %}
                        {% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
                        {% if errors %}
                            <p class="errornote">
                                {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}
                                    {% trans "Please correct the errors below." %}{% endif %}
                            </p>
                            {{ adminform.form.non_field_errors }}
                        {% endif %}

                        {% block field_sets %}
                            {% for fieldset in adminform %}
                                {% include "admin/includes/fieldset.html" %}
                            {% endfor %}
                        {% endblock %}

                        {% block after_field_sets %}{% endblock %}

                        {% block inline_field_sets %}
                            {% for inline_admin_formset in inline_admin_formsets %}
                                {% include inline_admin_formset.opts.template %}
                            {% endfor %}
                        {% endblock %}

                        {% block after_related_objects %}{% endblock %}

                        {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

                        {% block admin_change_form_document_ready %}
                            <script type="text/javascript"
                                    id="django-admin-form-add-constants"
                                    src="{% static 'admin/js/change_form.js' %}"
                                    {% if adminform and add %}
                                    data-model-name="{{ opts.model_name }}"
                                    {% endif %}>
                            </script>
                        {% endblock %}

                        {% prepopulated_fields_js %}

                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        $("select").addClass("form-control form-control-sm");
        $("input[type=number]").addClass("form-control form-control-sm");
        $("textarea").addClass("form-control form-control-sm");
    </script>
{% endblock %}
