{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls static %}

{% block extrahead %}
    {{ block.super }}
    {{ media }}
    <script type="text/javascript" src="{% static 'admin/js/cancel.js' %}"></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-
    {{ opts.model_name }} delete-confirmation
    delete-selected-confirmation{% endblock %}

{% block breadcrumbs %}
    {% include 'admin/snippet/breadcrumb.html' with lista=False %}
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            {% if perms_lacking %}
                <b>Ao excluir {{ objects_name }} serão excluídos os itens relacionados,
                    mas a sua conta não tem permissão de excluir os itens a seguir:</b>
                <ul>
                    {% for obj in perms_lacking %}
                        <li>{{ obj }}</li>
                    {% endfor %}
                </ul>
            {% elif protected %}
                <b>Ao excluir {{ objects_name }} serão excluídos os itens
                    relacionados:</b>
                <ul>
                    {% for obj in protected %}
                        <li>{{ obj }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Você tem certeza que deseja excluir o item
                    selecionado {{ objects_name }}? Todos os
                    itens relacionados serão excluídos:</p>
                {% include "admin/includes/object_delete_summary.html" %}
                <h2 class="py-3">{% trans "Objects" %}</h2>
                {% for deletable_object in deletable_objects %}
                    <ul>{{ deletable_object|unordered_list }}</ul>
                {% endfor %}
                <form method="post">{% csrf_token %}
                    <div class="mt-3 text-right">
                        {% for obj in queryset %}
                            <input type="hidden" name="{{ action_checkbox_name }}"
                                   value="{{ obj.pk|unlocalize }}"/>
                        {% endfor %}
                        <input type="hidden" name="action" value="delete_selected"/>
                        <input type="hidden" name="post" value="yes"/>
                        <input type="submit" value="{% trans "Yes, I'm sure" %}"
                               class="btn btn-sm btn-outline-danger"/>
                        <a href="#"
                           class="button cancel-link btn btn-sm btn-danger ml-2">{% trans "No, take me back" %}</a>
                    </div>
                </form>
            {% endif %}

        </div>
    </div>
{% endblock %}
