{% load i18n %}
<h6 class="text-secondary">{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h6>
<ul>
    {% for choice in choices %}
        <li class="{% if choice.selected %} badge btn-primary {% endif %}">
            <a href="{{ choice.query_string|iriencode }}" title="{{ choice.display }}"
               class="{% if choice.selected %} font-weight-bold text-white {% else %}text-muted  {% endif %}"
               style="font-size: 12px">{{ choice.display }}</a>
        </li>
    {% endfor %}
</ul>
