{% extends 'admin/index.html' %}

{% block coltype %}colM{% endblock %}
{% block breadcrumbs %}
    {% include 'admin/snippet/breadcrumb.html' %}
{% endblock breadcrumbs %}
{% block content %}
    <div class="panel shadow">
        <div class="panel-body p-4">
            <p>Personalizar página inicial</p>
        </div>
    </div>
{% endblock content %}
