{% extends "admin/base.html" %}
{% load i18n static widget_tweaks %}

{% block extrastyle %}
{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block bodyclass %}{% endblock %}

{% block layout %}
    {% if form.errors and not form.non_field_errors %}
        <p class="errornote">
            {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}
                {% trans "Please correct the errors below." %}{% endif %}
        </p>
    {% endif %}

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="errornote">
                {{ error }}
            </p>
        {% endfor %}
    {% endif %}
    <section class="login p-fixed d-flex text-center bg-primary common-img-bg">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-sm-12">
                    <div class="login-card card-block mx-auto">
                        {% if user.is_authenticated %}
                            <p class="errornote">
                                {% blocktrans trimmed %}
                                    You are authenticated as {{ username }}, but are not authorized to
                                    access this page. Would you like to login to a different account?
                                {% endblocktrans %}
                            </p>
                        {% endif %}

                        <form action="{{ app_path }}" method="post" id="login-form" class="md-float-material">
                            {% csrf_token %}
                            <h3 class="text-center txt-primary">
                                Fazer login no painel de administração
                            </h3>
                            <div class="md-input-wrapper text-left">
                                {{ form.username.errors }}
                                {{ form.username|add_class:"md-form-control" }}
                                {{ form.username.label_tag }}
                            </div>
                            <div class="md-input-wrapper text-left">
                                {{ form.password.errors }}
                                {{ form.password|add_class:"md-form-control" }}
                                {{ form.password.label_tag }}
                            </div>
                            <input type="hidden" name="next" value="{{ next }}"/>
                            {% url 'admin_password_reset' as password_reset_url %}
                            {% if password_reset_url %}
                                <div class="row">
                                    <div class="col-sm-12 forgot-phone text-right">
                                        <a href="{{ password_reset_url }}"
                                           class="text-right f-w-500">{% trans 'Forgotten your password or username?' %}</a>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-11 mx-auto mt-3 text-center">
                                    <button type="submit"
                                            class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20 w-100">
                                        {% trans 'Log in' %}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
