{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
    {% include 'admin/snippet/breadcrumb.html' with lista=False %}
    </div>
{% endblock %}

{% block content %}
    <div id="content-main">
        <div class="module">
            <div class="card">
                <div class="card-body table-responsive">


                    {% if action_list %}
                        <table id="change-history" class="table">
                            <thead>
                            <tr>
                                <th scope="col">{% trans 'Date/time' %}</th>
                                <th scope="col">{% trans 'User' %}</th>
                                <th scope="col">{% trans 'Action' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for action in action_list %}
                                <tr>
                                    <th scope="row">{{ action.action_time|date:"DATETIME_FORMAT" }}</th>
                                    <td>{{ action.user.get_username }}{% if action.user.get_full_name %} (
                                        {{ action.user.get_full_name }}){% endif %}</td>
                                    <td>{{ action.get_change_message }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>{% trans "This object doesn't have a change history. It probably wasn't added via this admin site." %}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
