{% load admin_list %}
{% load i18n %}
<div class="paginator">
    {% if pagination_required %}
        {% for i in page_range %}
            <div class="badge badge-inverse-primary">
                {% paginator_number cl i %}
            </div>
        {% endfor %}
    {% endif %}
    <span class="mx-2 d-inline">{{ cl.result_count }}
    {% if cl.result_count == 1 %}{{ cl.opts.verbose_name }}{% else %}{{ cl.opts.verbose_name_plural }}{% endif %}
</span>
    {% if show_all_url %}
        &nbsp;&nbsp;<a href="{{ show_all_url }}" class="showall text-primary">{% trans 'Show all' %}</a>
    {% endif %}
    {% if cl.formset and cl.result_count %}
        <input type="submit" name="_save" class="default" value="{% trans 'Save' %}"/>{% endif %}
</div>