{% load i18n %}

{% if form.is_bound and not form.is_valid %}
    <div class="alert alert-danger">
        <strong>Oops! We found some errors</strong> - please check the error messages below and try again
    </div>
{% endif %}

{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <i class="icon-exclamation-sign"></i> {{ error }}
        </div>
    {% endfor %}
{% endif %}

{% for field in form %}
    {% include 'partials/form_field.html' with field=field style=style %}
{% endfor %}