{% load form_tags %}
{% load widget_tweaks %}

{% if field.is_hidden %}
    {{ field }}
{% else %}

    {% comment %}
        Make the field widget type available to templates so we can mark-up
        checkboxes differently to other widgets.
    {% endcomment %}

    {% annotate_form_field field %}

    {% block control_group %}
        <div class="form-group {% if style|default:"stacked" == 'stacked' %}col-12 col-md-6 col-lg-4 pr-0 {% elif style == 'vertical' %} col-12 px-0 {% endif %} {% if field.errors %}has-error{% endif %}">

            {% block label %}
                {% if not nolabel and field.widget_type != 'CheckboxInput' %}
                    <label for="{{ field.auto_id }}"
                           class="{% if style|default:"stacked" != 'stacked' %}col-sm-4{% endif %} control-label{% if field.field.required %} required{% endif %}">
                        {{ field.label|safe }}
                    </label>
                {% endif %}
            {% endblock %}

            {% block controls %}
                <div class="{% if style|default:"stacked" == 'stacked' %} mr-3 {% elif style == 'vertical' %} col-sm-12 {% endif %}">
                    {% block widget %}
                        {% if field.widget_type == 'CheckboxInput' %}
                            <br>
                            <div class="custom-control custom-checkbox">
                                {% render_field field class+="custom-control-input w-90" %}
                                <label for="{{ field.auto_id }}"
                                       class="custom-control-label {% if field.field.required %}required{% endif %}">
                                    {{ field.label|safe }}
                                </label>
                            </div>
                        {% else %}
                            {% render_field field class+="form-control" %}
                        {% endif %}
                    {% endblock %}

                    {% block errors %}
                        {% for error in field.errors %}
                            <span class="error-block"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                        {% endfor %}
                    {% endblock %}

                    {% block help_text %}
                        {% if field.help_text %}
                            <span class='help-block'>
                                {# We allow HTML within form help fields #}
                                {{ field.help_text|safe }}
                            </span>
                        {% endif %}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endif %}