{% extends 'base.html' %}
{% block content %}
    <div class="sessao1">
        {% for imovel in imoveis %}
            <div class="col-md-4">
                <div class="destaques-col3">
                    <section>
                        <a href="{% url 'detalhes' imovel.id %}" title="{{ imovel.titulo }}">
                            <img src="http://res.cloudinary.com/hfrhkgogi/image/upload/c_scale,w_300,q_80/v1528977020/{{ imovel.imagem }}.jpg" alt="{{ imovel.titulo }}" width="100%"/>
                        </a>
                        <h5>{{ imovel.tipo.tipo }}</h5>
                        <h4>R$ {{ imovel.preco }}</h4>
                        <p style="min-height: 50px">{{ imovel.endereco }}, {{ imovel.numero }}, {{ imovel.cep }} {{ imovel.cidade }} {{ imovel.estado }}</p>
                        <hr/>
                        <span>
                            {% if imovel.quartos > 0 %}
                            <p><i class="fas fa-bed"></i><strong>{{ imovel.quartos }}</strong> quartos</p>
                            {% endif %}
                            <p><i class="fas fa-car"></i><strong>{{ imovel.garagem }}</strong> vagas</p>
                            {% if imovel.banheiro > 0 %}
                            <p><i class="fas fa-bath"></i><strong>{{ imovel.banheiro }}</strong> banheiros</p>
                            {% endif %}
                        </span>
                        <hr/>
                        <a href="{% url 'detalhes' imovel.id %}" class="link">ver detalhes</a>
                    </section>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}