{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block content %}
    <div class="container">
        <div class="sessao1">
            <div class="row">
                <div class="col-md-6">
                    <h2 style="font-weight: 500">Contato</h2>
                    <p>
                        Ficou com alguma dúvida?
                        preencha o formulário ao lado, que entraremos em contato assim que possível.
                    </p>
                </div>
                <div class="col-md-6">
                    <form role="form" action="" method="post" style="font-weight: 400">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">
                                Enviar
                            </button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}