{% extends 'base.html' %}
{% load bootstrap4 %}
{% load l10n %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% block content %}
    <style>

        .slides {
            margin: 0 10px;
        }

        .slides span {
            padding: 2px;
            margin: 5px;
            box-shadow: 0 0 10px #c0c0c0;
            width: 22%;
        }

        #imagemPrincipal {
            padding: 2px;
            box-shadow: 0 0 10px #c0c0c0;
        }

        i {
            margin-right: 10px;
        }

        #map {
            height: 400px;
            width: 100%;
        }
    </style>
    <div class="container">
        <div class="sessao1">
            <h2>{{ imovel.titulo }}</h2>
            <hr/>
            <h5>
                <small class="h6 text-muted mr-5">Cód: {{ imovel.codigo }}</small>
                imóvel para {{ imovel.tipo }}
            </h5>
            <div class="row mt-5">
                <div class="col-md-6 mt-2">
                    <div id="carouselExampleControls" class="carousel slide card py-5" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="http://res.cloudinary.com/hfrhkgogi/image/upload/c_scale,q_85/v1528977020/{{ imovel.imagem }}.jpg"
                                   target="_blank">
                                    <img id="imagemPrincipal"
                                         src="http://res.cloudinary.com/hfrhkgogi/image/upload/c_scale,w_500,q_80/v1528977020/{{ imovel.imagem }}.jpg"
                                         class="d-block w-100"/>
                                </a>
                            </div>
                            {% for ii in imovel.imagemimovel_set.select_related %}
                                <div class="carousel-item">
                                    <a href="http://res.cloudinary.com/hfrhkgogi/image/upload/c_scale,q_85/v1528977020/{{ ii.imagem }}.jpg"
                                       target="_blank">
                                        <img id="imagemPrincipal"
                                             src="http://res.cloudinary.com/hfrhkgogi/image/upload/c_scale,w_500,q_80/v1528977020/{{ ii.imagem }}.jpg"
                                             class="d-block w-100"/>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    {% if imovel.tarja %}
                        <h5 class="text-white p-1 m-0 px-2 bg-primary"
                            style="position: absolute; top:30px;">{{ imovel.tarja }}</h5>
                    {% endif %}
                    <div class="card mt-4">
                        <h5 class="card-header">Entre em contato</h5>
                        <div class="card-body">
                            <p>Ficou interessado neste imóvel? Fale com nossos corretores.</p>
                            <form role="form" action="" method="post">
                                {% csrf_token %}
                                {% bootstrap_form form %}
                                {% buttons %}
                                    <button type="submit" class="btn btn-primary">
                                        Enviar
                                    </button>
                                {% endbuttons %}
                            </form>
                            <p>Telefone e whatsapp:</p>
                            <p style="font-size: 1.2em;">
                                <i class="fas fa-phone-square text-primary fa-2x"></i> (49) 3444 1966
                                <br>
                                {% if institucional.whatsapp %}
                                    <a href="http://api.whatsapp.com/send?1=pt_BR&amp;phone=55{{ institucional.whatsapp }}"
                                       class="text-dark">
                                        <i class="fab fa-whatsapp-square text-success fa-2x"></i> {{ institucional.whatsapp }}
                                    </a>
                                    <br>
                                {% endif %}
                                {% if institucional.whatsappsecundario %}
                                    <a href="http://api.whatsapp.com/send?1=pt_BR&amp;phone=55{{ institucional.whatsappsecundario }}"
                                       class="text-dark">
                                        <i class="fab fa-whatsapp-square text-success fa-2x"></i> {{ institucional.whatsappsecundario }}
                                    </a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-2">
                    <section class="card">
                        <h5 class="card-header">Detalhes</h5>
                        <div class="card-body">
                            {% if imovel.quartos > 0 %}
                                <p><i class="fas fa-bed"></i><strong>{{ imovel.quartos }}</strong> dormitórios</p>
                            {% endif %}
                            {% if imovel.suites > 0 %}
                                <p><i class="fas fa-bed"></i><strong>{{ imovel.suites }}</strong> suítes</p>
                            {% endif %}
                            {% if imovel.banheiro %}
                                <p><i class="fas fa-bath"></i><strong>{{ imovel.banheiro }}</strong> banheiros</p>
                            {% endif %}
                            {% if imovel.cozinha %}
                                <p><i class="fas fa-utensils"></i><strong>{{ imovel.cozinha }}</strong> cozinha</p>
                            {% endif %}
                            {% if imovel.sala %}
                                <p><i class="fas fa-square"></i><strong>{{ imovel.sala }}</strong> sala de estar</p>
                            {% endif %}
                            {% if imovel.salajantar %}
                                <p><i class="fas fa-utensils"></i><strong>{{ imovel.salajantar }}</strong> sala de
                                    jantar</p>
                            {% endif %}
                            {% if imovel.areaservico %}
                                <p><i class="fas fa-th-large"></i><strong>{{ imovel.areaservico }}</strong> área de
                                    serviço</p>
                            {% endif %}
                            {% if imovel.salaofesta %}
                                <p><i class="fas fa-glass-cheers"></i><strong>{{ imovel.salaofesta }}</strong> salão de
                                    festas</p>
                            {% endif %}
                            {% if imovel.churrasqueira %}
                                <p><i class="fas fa-drumstick-bite"></i><strong>{{ imovel.churrasqueira }}</strong>
                                    churrasqueira</p>
                            {% endif %}
                            {% if imovel.garagem %}
                                <p><i class="fas fa-car"></i><strong>{{ imovel.garagem }}</strong> vagas</p>
                            {% endif %}
                            {% if imovel.metragem_privativo %}
                                <p><i class="fas fa-vector-square"></i>Área privativa
                                    <strong>{{ imovel.metragem_privativo }} m²</strong>
                                </p>
                            {% endif %}
                            {% if imovel.metragem_terreno %}
                                <p><i class="fas fa-vector-square"></i>Área do terreno
                                    <strong>{{ imovel.metragem_terreno }}
                                        m²</strong>
                                </p>
                            {% endif %}
                            {% if imovel.obterEndereco %}
                                <p>
                                <h5>Endereço</h5>
                                <i class="fas fa-map-marker-alt"></i>{{ imovel.obterEndereco }}
                                </p>
                            {% endif %}
                            <br>
                            <h5>Descrição</h5>
                            {{ imovel.descricao|linebreaks }}
                            </p>
                            <br>
                            {% if imovel.preco == 0 %}
                                <h5>R$: Consulte-nos</h5>
                            {% else %}
                                <h5>R$ {{ imovel.preco }}</h5>
                            {% endif %}
                            {% if institucional.mensagem_imovel %}
                                <p>{{ institucional.mensagem_imovel }}</p>
                            {% endif %}
                            {% if imovel.mensagem_adicional %}
                                <p>{{ imovel.mensagem_adicional }}</p>
                            {% endif %}
                            {% if imovel.negociavel %}
                                <h6>Valor negociável</h6>
                            {% endif %}
                            {% if imovel.troca %}
                                <p>Aceita na negociação {{ imovel.troca }}</p>
                            {% endif %}
                        </div>
                    </section>
                    {% if imovel.video %}
                        <div class="card mt-4">
                            <h5 class="card-header">Veja o vídeo</h5>
                            <div class="card-body">
                                <iframe width="100%" height="315"
                                        src="https://www.youtube.com/embed/{{ imovel.video_id }}"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    <script>
        function trocarImagem(caminho) {
            document.getElementById("imagemPrincipal").src = caminho;
        }

    </script>

{% endblock %}
