{% extends 'base.html' %}
{% block content %}
    {% include 'includes/carousel.html' %}
    {% include 'includes/busca.html' %}
    <div class="container" style="margin: 50px auto">
        <h2>Imóveis em destaque</h2>
        <div class="row">
            {% for imovel in imoveis %}
                {% include 'includes/item-imovel.html' %}
            {% empty %}
                <h4 class="mx-5">Nenhum imóvel localizado</h4>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col offset-11">
                <a href="{% url 'todos' %}" class="btn btn-primary my-5">Ver todos</a>
            </div>
        </div>
    </div>
{% endblock %}
