{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h2>Imóveis</h2>
        <div class="row">
            {% for imovel in imoveis %}
                {% include 'includes/item-imovel.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
