{% extends 'base.html' %}
{% block content %}
<style>
        #map {
            height: 400px;
            width: 100%;
        }


</style>
<div class="container">
    <div class="sessao1">
        <section class="row">
            <div class="col-md-6">
                <h2 style="font-weight: 500">Quem somos</h2>
                <p>
                    Nossa empresa entra no mercado para se manter fiel ao seu principal objetivo: atender a todas as
                    necessidades do cliente. Para isso, tem investido em novas tecnologias e sistemas de controle de
                    administração. Com uma equipe de corretores especializados, mantém seu banco de dados sempre
                    atualizado, com várias ofertas de imóveis residenciais e comerciais, terrenos etc.
                    Focada nos princípios de modernidade, visão de futuro e excelência em serviços em administração de
                    aluguéis, condomínios e intermediação na compra e venda de imóveis.
                    Possuímos uma equipe de consultores e corretores empenhados em assessorar e facilitar sua busca,
                    direcionando-os a encontrar as melhores ofertas do mercado imobiliário.
                </p>
                <p>
                    <strong>Missão:</strong> Disponibilizar imóveis e serviços de excelência, buscando sempre a
                    satisfação de nossos clientes.
                </p>
                <p>
                    <strong>Visão:</strong> Ser reconhecido no mercado como a melhor empresa de negócios imobiliários da
                    região, comprometidos com a ética e excelência nos serviços prestados e na satisfação de nossos
                    clientes.

                </p>
                <p>
                    <strong>Valores:</strong> Satisfação do cliente. <br>
                    Respeito às pessoas. <br>
                    Confiança e credibilidade. <br>
                    Investimento em capital humano. <br>
                    Foco em resultados. <br>
                </p>
                <p>
                <h4 style="font-weight: 500">Nossos serviços</h4>
                <p>Compra, Venda e Locação de imóveis.</p>
                </p>


            </div>
            <div class="col-md-6">
                <div id="map"></div>
            </div>
        </section>

        <script>
                function gerarMapa() {
                    var uluru = {lat: -27.235786, lng: -52.032199};
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 18,
                        center: uluru
                    });
                    var marker = new google.maps.Marker({
                        position: uluru,
                        map: map
                    });
                }


        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdXITyXCijPOyfAabVCmGf2-RTMcMvDws&callback=gerarMapa">
        </script>
    </div>
</div>
{% endblock %}
