<!DOCTYPE html>
<html>
{% load static %}
<title>Imobiliária</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<style>
    html, body {
        padding: 0 !important;
        margin: 0 !important;
        width: 100vw;
        height: 100vh;
    }

    .mySlides {
        padding: 0 !important;
        margin: 0 !important;
        display: none;
        background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
        width: 100vw;
        height: 100vh;
    }

    .mySlides .conteudo {
        padding-top: 15px;
        color: #fff;
        z-index: 10;
        position: absolute;
        top:80px;
        left: 0;
        width: 800px;
        height: 180px;
        padding-left: 30px;
        padding-right: 180px;
        background: url("{% static 'img/mascara-azul.png' %}") right;
    }

    .mySlides img {
        max-width: 100vw !important;
        max-height: 95vh !important;
        position: absolute;
        margin: auto;
        z-index: 0;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
    }

    .logo{
        position: absolute;
        bottom: 30px;
        right: 30px;
    }

.w3-animate-opacity{animation:opac 1s}@keyframes opac{from{opacity:0} to{opacity:1}}
.w3-animate-right{position:relative;animation:animateright 3s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.w3-animate-left{position:relative;animation:animateleft 1s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}

</style>
<body>
<div class="w3-content w3-section" style="max-width:100%">
    {% for imovel in imoveis %}
        <div class="mySlides">
            <img src="http://res.cloudinary.com/hfrhkgogi/image/upload/c_scale,w_1500,q_85/v1528977020/{{ imovel.imagem }}.jpg"
                 class="w3-animate-right">
            <div class="conteudo w3-animate-left">
                <h1 class="text-uppercase w3-animate-opacity">{{ imovel.categoria }}</h1>
                {% if imovel.preco %}
                    <h2 class="w3-animate-opacity" style="color: yellow; font-weight: 700; font-size: 36px">R$ {{ imovel.preco }}</h2>
                    {% else %}
                    <h2 class="w3-animate-opacity" style="color: yellow; font-weight: 700; font-size: 36px">CONSULTE-NOS</h2>
                {% endif %}
                <p class="text-uppercase w-100 w3-animate-opacity" style="font-size: 18px;">{{ imovel.obterEndereco }}</p>
            </div>
        </div>
    {% endfor %}
        <img src="{% static 'img/logo.png' %}" alt="Imobiliária" class="logo">
</div>
<script>
    let myIndex = 0;
    carousel();

    function carousel() {
        let i;
        const x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {
            myIndex = 1
        }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 10000);
    }
</script>

</body>
</html>
