<!DOCTYPE html>
<html>
{% load static %}
<title>Imobiliária</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<style>
    .mySlides {
        padding: 0 !important;
        margin: 0 !important;
        background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
        width: 100vw;
        height: 100vh;
    }

    .mySlides .conteudo {
        padding-top: 15px;
        color: #fff;
        z-index: 10;
        position: absolute;
        top: 80px;
        left: 0;
        width: 800px;
        height: 180px;
        padding-left: 30px;
        padding-right: 180px;
        background: url("{% static 'img/mascara-azul.png' %}") right;
        text-align: left!important;
    }

    .mySlides img {
        max-width: 100vw !important;
        max-height: 100vh !important;
        height: auto;
        width: auto;
        position: relative;
        margin: auto;
        z-index: 0;
        bottom: 0;
        top: 0;
    }

</style>
<body>
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<div class="mySlides">
    <div class="row" style="max-width:100%; margin: 0;">
        <div class="col-12" style="padding: 0">
            <div id="slide" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% for imovel in imoveis %}
                        <div class="carousel-item {% if forloop.first %}  active {% endif %} " style="margin: 0 auto; text-align: center">
                            <img src="http://res.cloudinary.com/hfrhkgogi/image/upload/c_scale,w_1500,q_85/v1528977020/{{ imovel.imagem }}.jpg">
                            <div class="conteudo">
                                <h1 class="text-uppercase">{{ imovel.categoria }}</h1>
                                {% if imovel.preco %}
                                    <h2 style="color: yellow; font-weight: 700; font-size: 36px">
                                        R$ {{ imovel.preco }}</h2>
                                {% else %}
                                    <h2 style="color: yellow; font-weight: 700; font-size: 36px">CONSULTE-NOS</h2>
                                {% endif %}
                                <p class="text-uppercase w-100"
                                   style="font-size: 18px;">{{ imovel.obterEndereco }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#slide" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#slide" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
